<div class="container mb-5" style="margin-top: 11em;">
    <!-- Première rangée avec deux colonnes -->
    <div class="row d-flex align-items-stretch">
        <!-- Première colonne pour les réseaux sociaux -->
        <div class="col text-center border" style="max-width: 560px;">
            <h2 class="mt-3">Mes réseaux sociaux</h2>
            <img class="m-3 illus" src="../../assets/social.png" alt="">
            <p>Vous pouvez également me contacter sur l'une des plateformes suivantes</p>
            <!-- Lien vers Instagram -->
            <a href="https://www.instagram.com/codingdel?igsh=MWkxODQ2a3oxcGxzcA%3D%3D&utm_source=qr" target="_blank">
                <p>Instagram</p>
                <img src="../../assets/inta1.png" alt="" class="rounded-circle">
            </a>
            <!-- Lien vers LinkedIn -->
            <a href="https://www.linkedin.com/in/kompaor%C3%A9-brunel-b58ba1236?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank">
                <p>Linkedin</p>
                <img class="" src="../../assets/linkd.png" alt="">
            </a>
            <!-- Commenté : Lien vers GitHub -->
            <!--<a href="#" class="border p-2">
                <h3> GitHub</h3>
                <img src="../../assets/githubb.png" alt="" target="_blank">
            </a>-->
        </div>
        <!-- Deuxième colonne pour les informations de contact -->
        <div class="col text-center border" id="contact" style="max-width: 560px;background-color: rgb(241, 241, 241);">
            <h2 class="mt-3 text-dark"> Contactez-moi</h2>
            <p class="text-danger">brunelkompaore0&#64;.gmail.com</p>
            <a href="mailto:brunelkompaore0@gmail.com">Envoyez-moi un e-mail</a>
            <img class=" mt-3 illus" src="../../assets/mail.png" alt="">
        </div>
    </div>
</div>
