<!-- Section contenant les images en haut de la page -->
<div class="container-fluid " style="margin-top: 10em;">
    <img src="../../assets/parcours1.png" alt="">
    <img src="../../assets/parcours2.png" alt="">
    <img src="../../assets/parcours3.png" alt="">
</div>

<!-- Section principale contenant les informations sur l'éducation, l'expérience professionnelle, les compétences et les qualités -->
<div class="container text-center mt-5 mb-5" style="max-width: 1000px;">
    <!-- Utilisation de l'élément Accordion pour organiser les différentes sections -->
    <accordion [isAnimated]="true" class="shadow  text-center">
    
        <!-- Section pour l'éducation -->
        <accordion-group heading="Éducation">
            <div style="text-align: left;">
                <div style="text-align: left;" class="m-3 text-center border shadow-sm">
                    <h2 class="mb-0">Baccalauréat en Informatique</h2>
                    <h3 class="text-danger">Université du Québec en Outaouais (UQO)</h3>
                    <h4>Janvier 2020 - Avril 2023</h4>
                </div>

                <div style="text-align: left;" class="m-3 text-center border shadow-sm">
                    <h2 class="mb-0">Certificat : Hacking Éthique</h2>
                    <h3 class="text-danger">Site web Udemy</h3>
                    <h4>En cours</h4>
                </div>

                <div style="text-align: left;" class="m-3 text-center border shadow-sm">
                    <h2 class="mb-0">Certificat : Windows Server Administration/English</h2>
                    <h3 class="text-danger">Site web Udemy</h3>
                    <h4>En cours</h4>
                </div>

                <div style="text-align: left;" class="m-3 text-center border shadow-sm">
                    <h2 class="mb-0">Certificat : Développeur Web</h2>
                    <h3 class="text-danger mb-">Site web Udemy</h3>
                    <h4>En cours</h4>
                </div>

                <div style="text-align: left;" class="m-3 text-center border shadow-sm">
                    <h2 class="mb-0">Micro-stage avec Bombardier : Python</h2>
                    <h3 class="text-danger">Avec un certificat</h3>
                </div>
            </div>
        </accordion-group>

        <!-- Section pour l'expérience professionnelle -->
        <accordion-group heading=" Expérience Professionnelle">
            <div style="text-align: left;" class="m-3 text-center border shadow-sm">
                <h2 class="mb-0">Assistant du cours Système d’Exploitation</h2>
                <h3 class="text-danger">Université du Québec en Outaouais</h3>
                <h4>Septembre 2022 - Décembre 2022</h4>
                <ul>
                    <li>Dispenser les cours de Travaux Dirigés</li>
                    <li>Correction des devoirs, projets et examens</li>
                    <li>Être disponible pour les questions des étudiants</li>
                </ul>
            </div>

            <div style="text-align: left;" class="m-3 text-center border shadow-sm">
                <h2 class="mb-0">Aide-caissier</h2>
                <h3 class="text-danger">Provigo du Plateau</h3>
                <h4>Février 2021 - Juillet 2022</h4>
                <ul>
                    <li>Manipulation du système des caisses (automatique y compris)</li>
                    <li>Assurer la mise en place et la bonne marche de certains équipements</li>
                    <li>Assurer la formation adéquate des nouveaux employés</li>
                </ul>
            </div>

            <div style="text-align: left;" class="m-3 text-center border shadow-sm">
                <h2 class="mb-0">Assistant</h2>
                <h3 class="text-danger">Cybercafé à Ouagadougou</h3>
                <h4>Juillet 2017 - Décembre 2018</h4>
                <ul>
                    <li>Installation et configuration de Windows sur les machines</li>
                    <li>Autorisation d’accès et fonctionnement du réseau Wifi et Ethernet</li>
                </ul>
            </div>

            <div style="text-align: left;" class="m-3 text-center border shadow-sm">
                <h2 class="mb-0">Adjoint Administratif</h2>
                <h3 class="text-danger">Centre Polytechnique de Formation Professionnelle de Ouagadougou</h3>
                <h4>Juillet 2019 - Décembre 2019</h4>
                <ul>
                    <li>Gestion des inscriptions des élèves</li>
                    <li>Report des notes dans le système</li>
                    <li>Soutien technique aux professeurs</li>
                </ul>
            </div>

        </accordion-group>

        <!-- Section pour les compétences -->
        <accordion-group heading="Compétences">

            <div class="row d-flex justify-content-center">
                <div class="col-sm-6">
                    <h4>Systèmes d'exploitation</h4>
                    <ul>
                        <li>Windows Server</li>
                        <li>Linux (incluant la virtualisation)</li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <h4>Réseautage</h4>
                    <ul>
                        <li>Configuration Routeur</li>
                        <li>Commutateur</li>
                        <li>Pare-feu</li>
                        <li>Vlan</li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <h4>Sécurité réseaux</h4>
                    <ul>
                        <li>Scanning/Failles réseaux et Web</li>
                        <li>Cryptographie</li>
                        <li>Malwares</li>
                    </ul>
                </div>

                <div class="col-sm-6">
                    <h4>Gestion d'utilisateurs</h4>
                    <ul>
                        <li>Administration des comptes</li>
                        <li>Droits et accès</li>
                        <li>Active Directory</li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <h4>Langages de programmation</h4>
                    <ul>
                        <li>Java</li>
                        <li>JavaScript</li>
                        <li>Python</li>
                        <li>Html/CSS</li>
                        <li>PHP</li>
                        <li>MySQL</li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <h4>Développement Web</h4>
                    <ul>
                        <li>jQuery</li>
                        <li>Bootstrap</li>
                        <li>WordPress</li>
                        <li>React</li>
                        <li>Django</li>
                        <li>Springboot</li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <h4>Modélisation</h4>
                    <ul>
                        <li>Cas d'utilisations</li>
                        <li>Modèles conceptuels</li>
                        <li>UML</li>
                        <li>Développement par test</li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <h4>Base de données</h4>
                    <ul>
                        <li>Optimisation de requêtes</li>
                        <li>Sécurité des données</li>
                        <li>Bonne Modélisation</li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <h4>Bureautique/Service client</h4>
                    <ul>
                        <li>Microsoft Word</li>
                        <li>Microsoft Excel</li>
                        <li>Microsoft PowerPoint</li>
                        <li>Suite Microsoft Office (Utilisation experte)</li>
                    </ul>
                </div>
            </div>
        </accordion-group>


        <!-- Section pour les qualités -->
        <accordion-group heading="Qualités" class="custom-heading">
            <div class="qualities">
                <div class="quality">Esprit d'analyse</div>
                <div class="quality">Ambitieux</div>
                <div class="quality">Aimable</div>
                <div class="quality">Respect de la diversité et bonne Éthique</div>
                <div class="quality">Aime relever des défis</div>
                <div class="quality">Bonne résistance au stress</div>
                <div class="quality">Travail d'équipe</div>
                <div class="quality">Amour de l'apprentissage</div>
            </div>
        </accordion-group>
    </accordion>
</div>